html{
    background-color: azure;
    padding: 8px;
}
a{
    padding: 1.5%;
    border: 2px solid white;
    background-color: #02C39A;
    width: 20%;
}
a:link{
    color:white;
}
a:visited{
    color: white;
}
a:hover{
    background-color: #00A896;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#image1{
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h3{
    text-align: center;
    color: #05668D;
}
#logo{
    margin-top: 10%;
    height: 50px;
}
#specsTable{
    border-style: groove;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
td{
    border-style: dotted;
    border-bottom: none;
    padding: 5px;
}
#leftData{
    border-left: none;
}
.bottom{
    border-bottom: dotted;
}
#row:hover{
    background-color: #028090;
    color: white;
}
#quoteImg{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#quoteBackground{
    text-align: center;
}
#quoteTitle{
    font-size: 25px;
}
#dailyQuote{
    font-size: 18px;
}
#specTitle{
    text-align: center;
}
